<div class="jumbotron">
  <p class="lead">Please add some entries and then refresh this page a few times to reproduce the db_connection time out issue.</p>
</div>

<h2>Entries:</h2>
<ul>
  <%= for entry <- @entries do %>
    <li><%= "#{entry.myfield} (#{entry.inserted_at})" %></li>
  <% end %>
</ul>

